{% extends 'base.html.twig' %}

{% block title %}{{'register.plssign'|trans}}{% endblock %}

{% block body %}

    <form method="post" class="ml-5 mr-5 col-5 mt-5" novalidate>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{'register.plssign'|trans}}</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" placeholder="{{'register.email'|trans}}" required autofocus novalidate>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{'register.password'|trans}}" novalidate>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> {{'register.remember_me'|trans}}
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-sm" type="submit">{{'button.signin'|trans}}</button>
    </form>
{% endblock %}
