{{ form_start(formComment, {attr: {novalidate: 'novalidate'}}) }}
    <div class="col-5 p-2 bg-secondary">
        <div class="col-12">
            {{ form_row(formComment.message) }}
        </div>
    </div>
    <button class="btn btn-outline-success btn-sm ml-3 mt-2">{{ button_label|default('button.save'|trans) }}</button>
{{ form_end(formComment) }}