<form method="post" action="{{ path('law_delete', {'id': law.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ law.id) }}">
    <button class="btn btn-outline-danger">{{'button.delete'|trans}}</button>
</form>
