{{ form_start(form) }}

    <div class="d-flex justify-content-between col-5 p-2 bg-secondary">
        <div class="">
            {{ form_row(form.state) }}
        </div>
        <div>
            {{ form_row(form.createdate) }}
        </div>
        <div class="mt-2">
            <button class="btn btn-outline-success btn-sm mt-4">{{ button_label|default('button.save'|trans) }}</button>
        </div>
    </div>

{{ form_end(form) }}