{{ form_start(form) }}
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between form-group">
            {{ form_row(form.name) }}
            {{ form_row(form.createdate) }}
        </div>
        <div class="ml-3">
            <button class="btn btn-outline-success btn-sm ml-3 mt-1">{{ button_label|default('button.save'|trans) }}</button>
        </div>
    </div>
{{ form_end(form) }}