{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div class="col-6 pl-5 pr-5">
        {{ form_row(form.name) }}
        {% if button_label == 'button.update' %}
            {{form(form)}}
        {% else %}
            <ul class="articles" data-prototype="{{ form_widget(form.articles.vars.prototype)|e('html_attr') }}">
        {% endif %}
    </div>

    <div class=" container row">
        <button class="btn btn-outline-success m-5">{{ button_label|default('button.save'|trans) }}</button>
        {# {{ include('law/_delete_form.html.twig') }} #}
    </div>
    <script type="text/javascript" src="../../js/ArticlesForm.js"></script>
    
{{ form_end(form) }}
