{% extends 'base.html.twig' %}

{% block title %}{{'text.edit_law'|trans}}{% endblock %}

{% block body %}
    <div class="row container m-3">
        <a href="{{ path('law_index') }}" class="btn btn-outline-info mr-2">{{'buton.return_list'|trans}}</a>
        <h1 class="mt-3">{{'text.edit_law'|trans}}</h1>
    </div>
    
    {{ include('law/_form.html.twig', {'button_label': 'text.update'|trans}) }}
    
{% endblock %}
