{% extends 'base.html.twig' %}

{% block title %}{{'navbar.home'|trans}}{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between p-4">
        <div>
            {{ include('law/_filter_law_form.html.twig', {'button_label': 'button.search'|trans}) }}
        </div>
        <div>
            {% if app.user %}<a class="btn btn-outline-success" href="{{ path('law_new') }}">{{'button.new_law'|trans}}</a>{% endif %}
        </div>
    </div>
    
    {% for law in laws %}
        <div class="accordion mb-3 pl-5 pr-5">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <h2>{{ law.name }}</h2>
                        <p>{{ law.createdat ? law.createdat|date('Y-m-d') : '' }}</p>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{law.id}}">{{'button.more'|trans}}</button>
                        <a class="btn btn-primary" type="button" href="{{ path('law_show', {'id': law.id, 'articles': law.articles}) }}">{{'button.show'|trans}}</a>
                    </div>
                </div>
                <div id="{{law.id}}" class="collapse">
                    <h2 class="text-center mt-2">{{'text.articles'|trans}}</h2>
                    {% for article in law.articles %}
                        {% if article.lawid.id == law.id %}
                            <div class="accordion">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="mr-2">{{ article.userid.firstName }}</h3>
                                        <p class="mr-2 mt-1">{{ article.state }}</p>
                                    </div>
                                    <div>
                                        <p class="mb-3 text-center">{{ article.article }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <p class="badge badge-danger">{{'text.no_article'|trans}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p class="badge badge-danger">{{'text.no_law'|trans}}</p>
    {% endfor %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    
{% endblock %}
