{% extends 'base.html.twig' %}

{% block title %}{{'text.new_law'|trans}}{% endblock %}

{% block body %}
    <div class="container row m-3">
        <a class="btn btn-outline-info mr-3" href="{{ path('law_index') }}">{{'button.return_list'|trans}}</a>
        <h1 class="mt-2">{{'text.create_law'|trans}}</h1>
    </div>

    {{ include('law/_form.html.twig', {'button_label': 'button.new'|trans}) }}
{% endblock %}
