{% extends 'base.html.twig' %}

{% block title %}{{'text.law_detail'|trans}}{% endblock %}

{% block body %}
    <a href="{{ path('law_index') }}" class="btn btn-outline-info m-3">{{'button.return_list'|trans}}</a>
    <div id="root"></div>

    <div class="jumbotron ml-5 mr-5">
        <h2 class="display-3 m-5">{{ law.name }}</h2>
        {{ include('law/_filter_article_form.html.twig', {'button_label': 'button.search'|trans}) }}

        {% for article in articles %}
            {% if article.lawid.id == law.id %}
                <hr class="my-4">
                <div class="d-flex bd-highlight mb-3">
                    <div class="row mr-auto p-2">
                        <h3 class="display-5 mr-5">{{ article.userid.firstName }}</h3>
                        <p class="mt-2 mr-5">{{ article.createdat ? article.createdat|date('Y-m-d') : '' }}</p>
                    </div>
                    <div class="p-2">
                        {% if app.user %}
                            {% if app.User.id == article.userId.id %}
                                <a href="{{ path('law_edit', {id: law.id}) }}" class="btn btn-outline-success btn-sm">{{'button.edit'|trans}}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <p>{{ article.article }}</p>
                <p> {{ article.state }} </p>
                {% if app.user %}
                        <div class="row">
                            <a href="{{ path('vote_api', {id: law.id, articleId: article.id, vote: 'interest'}) }}" class="btn btn-outline-success interest-btn btn-sm mr-3 ml-3">{{'vote.interest'|trans}}</a>
                            <a href="{{ path('vote_api', {id: law.id, articleId: article.id, vote: 'for'}) }}" class="btn btn-outline-success for btn-sm">{{'vote.for'|trans}}</a>
                            <a href="{{ path('vote_api', {id: law.id, articleId: article.id, vote: 'against'}) }}" class="btn btn-outline-success against btn-sm mr-3 ml-3">{{'vote.against'|trans}}</a>
                            <a href="{{ path('amendments', {lawId: law.id, id: article.id}) }}" class="btn btn-primary">{{'amendment.amendment'|trans}}</a>
                        </div>
                    {% endif %}
            {% endif %}
        {% endfor %}
        <hr class="my-4">

        {# {% if endOfVotePhase %}
            <p>{{ endOfVotePhase.diff(date('now'))|date("%Hh%i'%s''") }}</p>
        {% endif %} #}
        
        <p class="lead mt-5">
            {{ law.createdat ? law.createdat|date('Y-m-d') : '' }}
        </p>
    </div>
    <div class="jumbotron ml-5 mr-5">
        <h2 class="m-3">{{'text.comment'|trans}}</h2>
        <div id="comment">
            {% for message in law.messages %}
                <p>{{ message.userid.firstName }}</p>
                <p>{{ message.message }}</p>
                <hr class="my-4">
            {% endfor %}
        </div>
        <div>
        {% if app.user %}
            {{ include('law/_comment_form.html.twig', {'button_label': 'button.add'|trans}) }}
        {% endif %}
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/interest_vote.js') }}"></script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
