<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <title>{% block title %}{{'navbar.welcome'|trans}}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('law_index') }}"><img src="../uploads/logo/Adopt1loi2.png" width="50" height="50"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'law_index' %}active{% endif %}">
                            <a class="nav-link" href={{ path('law_index') }}>{{'navbar.home'|trans}}</a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item {% if app.request.attributes.get('_route') == 'user_index' %}active{% endif %}">
                                <a class="nav-link" href={{ path('user_index') }}>{{'button.manage'|trans}}</a>
                            </li>
                        {% endif %}
                </ul>
                    {% if not app.user %}
                    <ul class="navbar-nav ml-auto p-2 bd-highlight">
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'user_new' %}active{% endif %}">
                            <a class="nav-link" href={{ path('user_new') }}>{{'navbar.community'|trans}}</a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}">
                            <a class="nav-link" href={{ path('app_login') }}>{{'navbar.login'|trans}}</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ml-auto p-2 bd-highlight">
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'user_show' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('user_show', {'id': app.user.id}) }}">{{'navbar.account'|trans}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('app_logout') }}>{{'navbar.logout'|trans}}</a>
                        </li>
                    </ul>
                    {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
