{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <p> {{ article.article }} </p>

    <a href=" {{ path('create_amendment', {id: id, lawId: lawId}) }} ">{{'amendment.propose_amendment'|trans}}</a>
    {% for amendment in amendments %}
        <hr class="my-4">
        <div class="row">
            <p>{{ amendment.article }}</p>
        </div>
        <a class="interest-btn btn btn-outline-success against" href=" {{ path('vote_api', {id: lawId, articleId: amendment.id, vote: 'amendment'}) }} ">{{'amendment.vote'|trans}}</a>
    {% endfor %}

    {% block javascripts %}
        <script src="{{ asset('js/interest2.js') }}"></script>
    {% endblock %}

{% endblock %}