{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}{{'amendment.new_am'|trans}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/amendments.css') }}">

    {{ encore_entry_link_tags('amendments') }}
{% endblock %}

{% block body %}

<div class="container-fluid mt-5">
    <div class="">
        {{ form_start(form) }}
            {{ form_label(form.article, 'text' | upper, {'label_attr': {'class': 'col-12'}}) }}
            {{ form_widget(form.article, {'attr': {'class': 'amendment col-12'}}) }}
            <button class="mt-3 btn btn-outline-success" type="submit">{{'amendment.create'|trans}}</button>
        {{ form_end(form) }}
    </div>
</div>
=======
{% block title %}{{'amendment.new_am'|trans}}{% endblock %}

{% block body %}

    {{ form_start(form) }}
        <button type="submit">{{'amendment.create'|trans}}</button>
    {{ form_end(form) }}
>>>>>>> 328c7f8655699b36fc324454841958bda7c02228

{% endblock %}