{% extends 'base.html.twig' %}

{% block title %}{{'text.edit_account'|trans}}{% endblock %}

{% block body %}

    <h1 class="m-3">{{'text.edit_account'|trans}}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'button.update'|trans}) }}

    {# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
