{% extends 'base.html.twig' %}

{% block title %}{{'register.user_list'|trans}}{% endblock %}

{% block body %}
    
    <div class="p-4">
        <h1>{{'register.user_list'|trans}}</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{'register.email'|trans}}</th>
                <th>{{'register.role'|trans}}</th>
                <th>{{'register.firstname'|trans}}</th>
                <th>{{'register.action'|trans}}</th>

            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstName }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('user_show', {'id': user.id}) }}">{{'button.show'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{'text.no_user'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
