{% extends 'base.html.twig' %}

{% block title %}{{'text.community'|trans}}{% endblock %}

{% block body %}

    <h1 class="m-3">{{'text.community'|trans}}</h1>
    
    {{ include('user/_form.html.twig', {'button_label': 'button.save'|trans}) }}

{% endblock %}
