{% extends 'base.html.twig' %}

{% block title %}{{'text.account'|trans}}{% endblock %}

{% block body %}

    <div class="row m-3">
        <h1 class="mr-3 mt-2">{{'text.account'|trans}}</h1>
        {% if app.user.id == user.id %}
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-success mr-3">{{'button.edit'|trans}}</a>
        {% endif %}
    </div>
    
    <div class="container row">
        <div class="ml-5 col-3">
            <div class="row">
                {% if user.img != "headshot_placeholder.jpg"%}
                    <img src="../../uploads/img/{{ user.img }}" width="100" height="100">
                {% else %}
                    <img src="../../uploads/{{ user.img }}" width="100" height="100">
                {% endif %}
                <p class="mt-5 m-3">{{ user.firstName }}</p>
            </div>
            <p class="mt-3 mb-3">{{ user.email }}</p>
        </div>
        <div class="col-8">
            <h2 class="text-center">{{'text.laws'|trans}}</h2>
            {% for law in user.laws %}
            <div class="accordion mb-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            <h2>{{ law.name }}</h2>
                            <p>{{ law.createdat ? law.createdat|date('Y-m-d') : '' }}</p>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{law.id}}">{{'button.more'|trans}}</button>
                            {#<a class="btn btn-primary" type="button" href="{{ path('law_show', {'id': law.id, 'articles': articles}) }}">show</a>#}
                        </div>
                    </div>
                    <div id="{{law.id}}" class="collapse">
                        <h2 class="text-center mt-2">{{'text.articles'|trans}}</h2>
                            {% for article in law.articles %}
                                {% if article.lawid.id == law.id %}
                                    <div class="accordion">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between">
                                                <h3 class="mr-2">{{ article.userid.firstName }}</h3>
                                                <p class="mr-2 mt-1">{{ article.state }}</p>
                                            </div>
                                            <div>
                                                <p class="mb-3 text-center">{{ article.article }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <p class="badge badge-danger text-center">{{'text.no_article'|trans}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="badge badge-danger text-center">{{'text.no_law'|trans}}</p>
            {% endfor %}
        </div>
    </div>

    {{ form_start(form) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.text) }}
        <button type="submit" class="btn btn-outline-success">Envoyer</button>
    {{ form_end(form) }}

    {# <div class="col-10">
        {% for law in app.User.votes %}
            <div class="accordion mb-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            <h2>{{ law.name }}</h2>
                            <p>{{ law.createdat ? law.createdat|date('Y-m-d') : '' }}</p>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{law.id}}">More</button>
                        </div>
                    </div>
                    <div id="{{law.id}}" class="collapse">
                        <h2 class="text-center mt-2">Articles</h2>
                            {% for article in app.User.articles %}
                                {% if article.lawid.id == law.id %}
                                    <div class="accordion">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between">
                                                <h3 class="mr-2">{{ article.userid.firstName }}</h3>
                                                <p class="mr-2 mt-1">{{ article.state }}</p>
                                            </div>
                                            <div>
                                                <p class="mb-3 text-center">{{ article.article }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <p class="badge badge-danger">No articles found</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        {% else %}
            <p class="badge badge-danger">No law found</p>
        {% endfor %}
    </div> #}
    {# <a href="{{ path('user_index') }}">back to list</a>
    {{ include('user/_delete_form.html.twig') }} #}

{% endblock %}
